/* styles.css */

/* Regular style */
@font-face {
    font-family: 'NeueRegrade-Regular';
    src: url('../fonts/Neue\ Regrade\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Bold style */
@font-face {
    font-family: 'NeueRegrade-Bold';
    src: url('../fonts/Neue\ Regrade\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Extra bold style */
@font-face {
    font-family: 'NeueRegrade-ExtraBold';
    src: url('../fonts/Neue\ Regrade\ ExtraBold.otf') format('opentype');
    font-weight: 800; /* Adjust as needed */
    font-style: normal;
}

/* Light style */
@font-face {
    font-family: 'NeueRegrade-Light';
    src: url('../fonts/Neue\ Regrade\ Light.otf') format('opentype');
    font-weight: 300; /* Adjust as needed */
    font-style: normal;
}

/* Medium style */
@font-face {
    font-family: 'NeueRegrade-Medium';
    src: url('../fonts/Neue\ Regrade\ Medium.otf') format('opentype');
    font-weight: 500; /* Adjust as needed */
    font-style: normal;
}

/* Semi-bold style */
@font-face {
    font-family: 'NeueRegrade-SemiBold';
    src: url('../fonts/Neue\ Regrade\ SemiBold.otf') format('opentype');
    font-weight: 600; /* Adjust as needed */
    font-style: normal;
}

/* Italic variants */
@font-face {
    font-family: 'NeueRegrade-RegularItalic';
    src: url('../fonts/Neue\ Regrade\ RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* Site-wide styles */
html, body {
    height: 100%;
  }

body {
    font-family: 'NeueRegrade-Regular', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'NeueRegrade-Bold', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 3em;
}

.content {
    flex: 1 0 auto;
    background-color: #270363;
    justify-content: center;
    text-align: center;
    color: #ffd100;
    padding-top: 20px;

  }

.site-footer
{
  background-color:#270363;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  margin-top: 50px;
  flex-shrink: 0;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#ffd100;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #ffd100;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ffd100
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#270363;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:#010409
}

.social-icons a.linkedin:hover
{
  background-color:#0a68c6
}

.social-icons a.site:hover
{
  background-color:#ce2b2b
}


@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


.hero-image {
    background-image: url('../assets/pattern-overlay.png');
    background-color: #270363;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffd100;
}

.hero-content {
    max-width: 90vh;
    padding: 20px;
}

.hero-content h1 {
    font-size: 8em; /* Adjust the font size as needed */
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em; /* Adjust the font size as needed */
    margin-bottom: 20px;
}

.btn-primary {
    color: #270363;
    background-color: #ffd100;
    border-color: #ffd100;
}

.btn-primary:hover {
    color: #ffd100;
    background-color: #270363;
    border-color: #ffd100;
}




.navbar {
  background-color: #ffd100;
  color: #270363;
}