<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEF StampWorks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='assets/logo.ico') }}">
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">NEF StampWorks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <div class="container content">
    <div class="hero-image">
        <div class="hero-content">
            <h1>Introducing StampWorks</h1>
            <h2>Your all-in-one platform for managing student reward points at North East Futures (NEF) UTC.</h2>
            <a class="btn btn-primary" href="/login">Get Started</a>
        </div>
    </div>
    <div class="main-y">
        <h2>Key Features:</h2>
        <ul>
            <li>Efficient stamp allocation and tracking system</li>
            <li>Student-friendly dashboard for stamp management</li>
            <li>Real-time updates on stamp balance and rewards</li>
            <li>Secure login system with role-based access control</li>
        </ul>
        <p>Ready to get started? Log in now to explore the student dashboard!</p>
        <h2>About NEF StampWorks</h2>
        <p>NEF StampWorks is a digital solution developed in collaboration with North East Futures (NEF) UTC to streamline the management of student reward points. Our platform is designed to enhance the efficiency and effectiveness of reward systems within educational institutions, allowing staff members and students to easily manage and track stamp balances, rewards, and more.</p>
        <h2>Why Choose NEF StampWorks?</h2>
        <p>NEF StampWorks stands out as the premier choice for managing student reward points due to its user-friendly interface, robust features, and commitment to security. With NEF StampWorks, schools can modernize their reward systems, promote positive behavior, and foster a supportive learning environment for all students.</p>
    </div>
</div>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Stamp reward system redesign through digitisation as part of a project with the Department of Work and Pensions Digital team.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/student_dashboard">Student Dashboard</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024 <a href="https://github.com/Jack-Lowe-7/">Jack Lowe</a> under <a href="/license">MIT License</a> (Also available on the <a href="https://github.com/Jack-Lowe-7/DWP-Project">GitHub repo</a>)
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="github" href="https://github.com/Jack-Lowe-7/"><i class="fa fa-github"></i></a></li>
                    <li><a class="site" href="https://www.jacklowe.dev"><i class="fa fa-globe"></i></a></li>
                    <li><a class="linkedin" href="https://linkedin.com/in/jacklowe7/"><i class="fa fa-linkedin"></i></a></li>   
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
